
footer{
  background-color: #F0F0F0;
  box-sizing:content-box;
  
}

* {
  font-family: avenir next;
  text-decoration: none;
}
h2 {
  font-size: 50px;
}
p {
  font-size: 25px;
}

body{
  text-decoration: none;
}

h1 > i {

  font-family: baskersvville;
  font-size: 150px;
  display: flex;
  justify-content: center;
  color :black;
}

ul {

  text-decoration:none;
  color: black;
  list-style: none;
}

a {

  color: black;
}

header {
  display: flex;
  align-items: center;
}

.navbar > ul {
  display: flex;
  gap: 25px;
  font-size: 20px;
  justify-content: flex-end;
  flex-grow: 1;
}

.navbar{
  display: flex;
  flex-grow: 1;

}

.langue {
  margin-left: 20px;
  margin-right: 10px;
}

.ecran_accueil {
  background-image: url("marie.svg");
  background-repeat: no-repeat;
}

button {
  color: white;
  border-style: none;
  background-color: black;
  display: flex;
  padding: 10px;
}
.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.carte {
  width: 486px;
  height: 267px;
}
.contactez_nous {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}