
footer{
  background-color: #F0F0F0;
  box-sizing:content-box;
  
}


* {
font-family: avenir next;
text-decoration: none;
}



h2 {
  font-family: 'Avenir Next Demi Bold';
  font-size: 50px;
  margin-top: 100px;
  margin-left: 8%;
  margin-bottom: 50px;
} 

p {
  font-size: 25px;
}

body{
  text-decoration: none;

}

.logo_top {

  padding-inline: 20px;
}

h1 {

  font-family: "baskersvville";
  font-style:italic;
  font-size: 150px;
  display: flex;
  justify-content: center;
  color :black;
  margin: 30px;
}

ul {

  text-decoration:none;
  color: black;
  list-style: none;
}

a {

  color: inherit;
}

header {
display: flex;
align-items: center;
background:linear-gradient(rgb(255, 255, 255,100%),75%,rgba(255,255,255,0%));
height: 100px;


}


.navbar > ul {
display: flex;
gap: 25px;
font-size: 20px;
justify-content: flex-end;
flex-grow: 1;
margin-right: 100px;
gap:50px;
margin-top:-10px;
}

.navbar{
  display: flex;
  flex-grow: 1;
}

.langue {
  margin-left: 20px;
  margin-right: 50px;
  margin-top: -15px;
}



.background_image {
  background-image: url("marie.svg");
  background-repeat: no-repeat;
  
}

.ecran_accueil {

  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px;


}

button {
  border-style: none;
  background-color: black;
  display: flex;
  padding: 10px;
}

.homepage > a {
  padding-inline: 18px;
  padding-block: 5px;
}



.fond {
  background-color: rgb(217,217,217,38%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.liste {
  list-style: none;
  font-size : 18px;
  margin-right: 100px;
  line-height: 35px;
}

.calendar {
  width: 140px;
  height: 110px;
  margin: 50px 50px 50px 70px;
}

.billeterie {
  color: white;
  border-style: none;
  background-color: black;
  display: flex;
  padding: 15px;
  font-family: avenir next;
  text-decoration: none;
  padding-inline: 55px;
  font-size: 18px;
  margin-right: 50px;
}

.billeterie:hover{
  background-color: #CACACA;
  color: white;
  font-style: bold;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.billeterie:active {

  background-color: white; 
  color: black;
}

.booking {

  margin-inline: 100px;
  font-family: avenir next;
  margin-bottom: 10px;
  padding-top: 200px;

}

.line {

  width: 1px;
  height: 150px;
  background-color: rgb(0, 0, 0);
  margin-right:50px;
}

.homepage {
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: black; 
  background-color: black;
  display: flex;
  padding: 15px;
  font-family: avenir next;
  text-decoration: none;
  padding-inline: 55px;
  font-size: 18px;
  margin-right: 50px;
  
}

.homepage:hover{
  background-color: white;
  color: black;
  font-style: bold;
  transition: 0.5s;
  cursor:crosshair;
}

.homepage:active {

  background-color: white; 
  color: black;
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px); 
  border-bottom: 1px solid;
}

.white_gradient {
  background: linear-gradient(rgba(255,255,255,2%),30%,rgba(255,255,255,100%));
  width: 1400px;
  height: 100px;
}


.navitem {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
}
.navbar .navitem {
  padding: 6px 0;
}
.navbar .navitem a {
  position: relative;
  display: block;
  text-decoration: none;
  font-family: "avenir next";
  font-size: 22px;;
  color: black;
  text-transform: uppercase;
  padding: 4px 0;
  transition: 0.5s;
}
.navbar .navitem a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1.5px;
  top: 100%;
  left: 0;
  background: black;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
.navbar .navitem a:hover {
  color: #CACACA;
}
.navbar .navitem a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}







.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: avenir next;
  line-height:2;
  margin-bottom: 150px;
  padding-top: 130px;
}

.carte {
  width: 486px;
  height: 267px;
  margin-block:20px;
}

.contactez_nous {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 10px;
  align-items: first baseline;

}

.footer_column {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "avenir next";
  margin-inline: 20px;

}
.liste_footer {
  padding: 0%;
  
}

.footer_p {
  line-height: 1.5;
  padding-inline : 80px;
  padding-block: 50px;
  padding-bottom: 70px;
  font-family: "avenir next";
  font-size: 25px;
}

.logo_footer {
  width: 150px;
  height: 110px;
  padding-left: 40px;
  margin-left: 30px;
}

.mentions {
  font-size: 15px;
  font-family: avenir next;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px;
  padding-bottom: 15px;
}

.liste2_footer {
  font-family: avenir next ;
  display: flex;
  padding-right: 40px;
  gap: 25px;
  margin: 0 auto;
  color: black;
}


.line2{
  width: 1px;
  height: 300px;
  background-color: rgb(0, 0, 0);
  margin-right:50px; 
}


h3 {
  font-family: 'Avenir Next medium';
  margin-inline: 0px;
  font-size: 25px;
  color:white;
  padding: 25px;
}

h4 {
  margin-bottom: 50px;
  font-family: avenir next demi bold;
  font-size: 50px;
  }

li {
line-height: 1.5;

}

html {
  scroll-behavior: smooth;
}


.caroussel {

  margin-top: 50px;
  margin-bottom: 200px;
}



img{

  max-width: 100%;
}

#container {

  margin-inline: 120px;
}

#controls-carousel {

}

.carousel-caption {
  position: absolute;
  top: 200px;
  left: 0;
  right: 800px;
  bottom: 0;
  width: 1500px;
  height:200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color:rgb(0,0,0,0.4);
  color: white;
  padding-bottom: 120px;
}

.caption-text {
  font-size: 15px;
  color: transparent;
  line-height: 1.5;
}

.carousel-caption:hover{
  background-color: rgba(1,1,1,0.5);
  transition: 1s ;
}
.carousel-caption:hover .caption-text {
  display: flex;  
  color: white;
  transition: 1s;
  margin-left: 75px;
}


.actus {

  margin-left:8%;

}


.reservation {

  margin-left: 1.5%;
}


.billeterie {
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: black; 
  background-color: black;
  display: flex;
  padding: 15px;
  font-family: avenir next;
  text-decoration: none;
  padding-inline: 55px;
  font-size: 18px;
  margin-right: 50px;
  
}

.billeterie:hover{
  background-color: white;
  color: black;
  font-style: bold;
  transition: 0.5s;
  cursor:crosshair;
}

.billeterie:active {

  background-color: white; 
  color: black;
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px); 
  border-bottom: 1px solid;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100%;
  max-width: 1440px;
  height: 624px;
  margin-left: auto;
  margin-right:auto;
  gap:10px;
}
.example {
  position: relative;
  padding: 0;
  width: 300px;
  display: block;
  cursor: pointer;
  overflow: hidden;
}
.content {
  opacity: 0;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  color: #1c87c9;
  background-color: rgba(200, 200, 200, 0.5);
  width: 300px;
  height: 300px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
}

.content {
  background-color:red;
}
.gallery__item{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.p_ressource {
  font-size: 20px;
  line-height: 1.2;
  padding: 30px;
}

.gallery__item--1 {
  grid-column: 1 / 5;
  grid-row: 1 / 6;
  background-image: url("img/index/ressou1.svg");

}

.gallery__item--1:hover p{
  color:white;
  transition: 0.7s;

}

.overlay:hover{
  background-color: rgba(1,1,1,0.5);
  transition: 0.5s;

}

.gallery__item--1 p{
  color:transparent;
  padding: 30px;
}


.gallery__item--2 {
  grid-column: 5 / 8;
  grid-row: 1 / 8;
  background-image: url("img/index/ressou2.svg");

}

.gallery__item--2 p{
  color:transparent;
  padding: 30px;
}

.gallery__item--2:hover p{
  color:white;
  transition: 0.7s;
  
  }

.gallery__item--3 {
  grid-column: 8 / 11;
  grid-row: 1 / 7;
  background-image: url("img/index/ressou3.svg");
}

.gallery__item--3 p{
  color:transparent;
  padding: 30px;
}

.gallery__item--3: {
  color:white;
  transition: 0.7s;
  
  }

.gallery__item--4 {
  grid-column: 11 / 13;
  grid-row: 1 / 7;
  background-image: url("img/index/ressou4.svg");

}

.gallery__item--4 p{
  display: none;
  color:white;
  padding: 30px;
}

.gallery__item--4:hover p{
  display: block;
  
  }

.gallery__item--5 {
  grid-column: 1 / 5;
  grid-row: 6 / 13;
  background-image: url("img/index/ressou5.svg");

}

.gallery__item--6 {
  grid-column: 5 / 8;
  grid-row: 8 / 13;
  background-image: url("img/index/ressou6.svg");

}

.gallery__item--7 {
  grid-column: 8 / 13;
  grid-row: 7 / 13;
  background-image: url("img/index/ressou7.svg");

}

.ress {


}

strong {

  font-weight: bold;
}

.title {

  margin-bottom: 15px;;
  margin-left: 70px;
}

h5 {
font-size :25px;
font-family: "avenir next demi bold";
margin-bottom: 20px;

}


@media (max-width: 670px) { 
  .gallery {
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-row-gap: 3px;
    }

  .gallery article h3 {
    font-size: 30px;
    padding: 30px;
  }

  .gallery__item{
    margin-top: 6px;
    width: 100%;
  }


  .footer_column {
    display: block;
    
  }

  .footer_column h5{
    border-bottom: solid 2px black;
  }

  .footer_column h5:hover li{
    display: block;
  }

  .liste_footer{
    display:none;
  }
  .liste_footer:hover {
    display: block; 
    background-color: red;
  
  }
}


.navbar {
  text-align: center; /* Centre le texte horizontalement */
}

.menu-toggle {
  display: none; /* Masque le menu burger par défaut */
  cursor: pointer;
}

.menu {
  list-style-type: none; /* Supprime les puces de la liste */
  padding: 0; /* Supprime le remplissage par défaut de la liste */
}

.menu li {
  display: inline; /* Affiche les éléments de liste en ligne horizontalement */
  margin: 0 20px; /* Ajoute une marge à droite et à gauche des éléments de liste */
}

.menu a {
  text-decoration: none; /* Supprime les soulignements des liens */
  color: black; /* Couleur du texte des liens */
}

/* Médias CSS pour le menu burger en mode mobile */
@media (max-width: 768px) {
  .menu {
      display: none; /* Cache le menu en mode mobile */
  }

  .menu-toggle {
      display: block; /* Affiche le menu burger en mode mobile */
  }

  .menu-toggle:hover + .menu {
      display: block; /* Affiche le menu lorsqu'on survole le menu burger */
  }
}

