.reservation {
    font-family: 'Avenir Next Demi Bold';
    margin-inline: 20px;
    font-size: 50px;

}

.fond {
    background-color: rgb(217,217,217,38%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.liste {
    font-family: 'Avenir Next';
    list-style: none;
    font-size : 20px;
    margin-right: 100px;
    line-height: 35px;
}

.calendar {
    width: 140px;
    height: 110px;
    margin: 50px 50px 50px 70px;
}

.billeterie {
    color: white;
    border-style: none;
    background-color: black;
    display: flex;
    padding: 15px;
    font-family: avenir next;
    text-decoration: none;
    padding-inline: 55px;
    font-size: 18px;
    margin-right: 50px;
}

.billeterie:hover{
    background-color: rgb(99, 99, 99);
    color: white;
    font-style: bold;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.billeterie:active {

    background-color: white; 
    color: black;
}

.booking {

    margin-inline: 100px;
}

.line {

    width: 1px;
    height: 150px;
    background-color: rgb(0, 0, 0);
    margin-right:50px;
}

